/* line 2, ../../../../scss/sass/store/category.scss */
#b-store-content .b-category-description {
  margin-top: 45px;
  overflow: hidden;
  font-family: "Verdana";
  font-size: 14px;
  line-height: 16px;
}
/* line 8, ../../../../scss/sass/store/category.scss */
#b-store-content .b-category-description img.image {
  float: left;
  width: 100px;
  margin-right: 25px;
}
/* line 13, ../../../../scss/sass/store/category.scss */
#b-store-content .b-category-description .description {
  float: left;
  width: 610px;
}
/* line 18, ../../../../scss/sass/store/category.scss */
#b-store-content .b-category-children-list {
  margin: 45px auto;
  width: 720px;
}
/* line 21, ../../../../scss/sass/store/category.scss */
#b-store-content .b-category-children-list a.b-subcategory {
  display: block;
  float: left;
  width: 140px;
  margin: 20px;
  text-align: center;
}
/* line 27, ../../../../scss/sass/store/category.scss */
#b-store-content .b-category-children-list a.b-subcategory .title {
  margin: 5px;
  text-align: center;
}
/* line 31, ../../../../scss/sass/store/category.scss */
#b-store-content .b-category-children-list a.b-subcategory .image {
  margin-top: 25px;
}
/* line 36, ../../../../scss/sass/store/category.scss */
#b-store-content #b-products-top-nav {
  margin-top: 28px;
  font-size: 11px;
}
/* line 39, ../../../../scss/sass/store/category.scss */
#b-store-content #b-products-top-nav .b-products-top-nav-info {
  float: left;
  padding: 7px;
}
/* line 43, ../../../../scss/sass/store/category.scss */
#b-store-content #b-products-top-nav .b-products-top-nav-options {
  float: right;
}
/* line 45, ../../../../scss/sass/store/category.scss */
#b-store-content #b-products-top-nav .b-products-top-nav-options .text {
  float: left;
  padding: 3px;
}
/* line 49, ../../../../scss/sass/store/category.scss */
#b-store-content #b-products-top-nav .b-products-top-nav-options #slider {
  width: 100px;
}
/* line 53, ../../../../scss/sass/store/category.scss */
#b-store-content #b-products-top-nav .b-products-top-nav-options .b-slider {
  float: left;
  margin-left: 10px;
}
/* line 59, ../../../../scss/sass/store/category.scss */
#b-store-content #b-products-padding {
  float: right;
  margin-top: 15px;
}
/* line 63, ../../../../scss/sass/store/category.scss */
#b-store-content #b-products-list {
  margin-top: 20px;
}
/* line 65, ../../../../scss/sass/store/category.scss */
#b-store-content #b-products-list a.acessory {
  margin: 15px 35px;
  text-align: center;
  float: left;
  display: block;
  text-decoration: none;
  width: 118px;
}
/* line 72, ../../../../scss/sass/store/category.scss */
#b-store-content #b-products-list a.acessory .image {
  margin: 10px;
  min-height: 100px;
}
/* line 77, ../../../../scss/sass/store/category.scss */
#b-store-content #b-products-list a.acessory .info div {
  margin: 5px;
}
/* line 80, ../../../../scss/sass/store/category.scss */
#b-store-content #b-products-list a.acessory .info .desc {
  line-height: 14px;
}
/* line 86, ../../../../scss/sass/store/category.scss */
#b-store-content #b-products-list a.acessory .info div.sale-price {
  color: #FF0000;
}
/* line 89, ../../../../scss/sass/store/category.scss */
#b-store-content #b-products-list a.acessory .info div.old-price {
  text-decoration: line-through;
}
