env/
xapian_index/
.etc/
.idea/
.komodotools/
logs/
local_settings.py
install.py
*.log
*.pot
*.pyc
*.sqlite
*.db
*.komodoproject

static/uploads/
static/media/cache/
static/media/watermarks/

.sass-cache/

scripts/import/outdata/
deploy.sh