extends store/layout
{% load sekizai_tags %}

block store-block
    div.b-category-description
        div.image
            img(src="{{ STATIC_URL }}images/digium-the-asterisk-company.gif")
        div.description
            | Digium — компания, создавшая и развивающая Asterisk. Если Вы покупаете оборудование Digium, значит, в Asterisk есть и Ваша частичка, и благодаря этому Вы и другие пользователи Asterisk могут бесплатно получать новые версии Asterisk!
            br
            a(href="#") Узнать больше о компании Digium
    div(style="clean:both;")
    div.b-category-children-list
        table
            tr
                td
                    a(href="/store/cat/prods") Аналоговые платы
                td
                    a(href="/store/cat/prods") Цифровые платы
                td
                    a(href="/store/cat/prods") Эхоподавление
                td
                    a(href="/store/cat/prods") Кодек G.729
            tr
                td
                    a(href="/store/cat/prods")    
                        img(src="{{ STATIC_URL }}images/b03177fe38ff12da1cffc5d005c41302.jpg")
                td
                    a(href="/store/cat/prods")
                        img(src="{{ STATIC_URL }}images/b03177fe38ff12da1cffc5d005c41302.jpg")
                td
                    a(href="/store/cat/prods")
                        img(src="{{ STATIC_URL }}images/b03177fe38ff12da1cffc5d005c41302.jpg")
                td
                    a(href="/store/cat/prods")
                        img(src="{{ STATIC_URL }}images/b03177fe38ff12da1cffc5d005c41302.jpg")
