extends store/layout
{% load sekizai_tags %}


block append header
    script(type="text/javascript", src="{{ STATIC_URL }}lib/kendo/kendo.core.min.js")
    script(type="text/javascript", src="{{ STATIC_URL }}lib/kendo/kendo.web.min.js")
    link(rel="stylesheet", href="{{ STATIC_URL }}lib/kendo/kendo.common.min.css")
    link(rel="stylesheet", href="{{ STATIC_URL }}lib/kendo/kendo.uniform.min.css")
    {% addtoblock "jQuery" %}
    $("#treeView").kendoTreeView();
    {% endaddtoblock %}


block store-block
    ul#treeView
        li(data-expanded="true")
            span.k-sprite.folder
            |Платы Digium
            ul(data-expanded="true")
                li 
                    span.k-sprite.html
                    |Цифровые
                li 
                    span.k-sprite.html
                    |Аналоговые
                li 
                    span.k-sprite.html
                    a(href="#") Транскодинг
        li 
            span.k-sprite.html
            |Цифровые шлюзы Digium
        li 
            span.k-sprite.html
            |Отказоустойчивые продукты Digium
        li(data-expanded="true")
            span.k-sprite.folder
            |IP АТС
            ul(data-expanded="true")
                li
                    span.k-sprite.html
                    |Switchvox
                li
                    span.k-sprite.html
                    |TrixBox
                li
                    span.k-sprite.html
                    |AsteriskNOW
        li(data-expanded="true")
            span.k-sprite.folder
            |IP Телефоны
            ul(data-expanded="true")
                li
                    span.k-sprite.html
                    |Настольные телефоны
                li
                    span.k-sprite.html
                    |DECT телефоны
                li
                    span.k-sprite.html
                    |Видео телефоны
        li(data-expanded="true")
            span.k-sprite.folder
            |DECT
            ul(data-expanded="true")
                li
                    span.k-sprite.html
                    |DECT Polycom KIRK
                li
                    span.k-sprite.html
                    |DECT Siemens
                li
                    span.k-sprite.html
                    |DECT Panasonic
        li(data-expanded="true")
            span.k-sprite.folder
            |GSM шлюзы
            ul(data-expanded="true")
                li
                    span.k-sprite.html
                    |Addpac
                li
                    span.k-sprite.html
                    |Topex
        li(data-expanded="true")
            span.k-sprite.folder
            |VoIP шлюзы
            ul(data-expanded="true")
                li
                    span.k-sprite.html
                    |Digium
                li
                    span.k-sprite.html
                    |Linksys
                li
                    span.k-sprite.html
                    |Eltex
        li
            span.k-sprite.html
            |Запись голового меню
        li
            span.k-sprite.html
            |Интеграция с 1С
