#b-store-content
    .b-category-description
        .image {
            float: left;
            margin-right: 20px;
        }
        .description {
            float: left;
            width: 550px;
        }