#b-tabs-top {
    width: 100%;
    height: 250px;
    a {
        width: 180px;
    }
    .tab1 {
        .b-main-image {
            float: left;
            width: 100px;
            margin: 35px;
            position: relative;
        }
        .b-images {
            margin-left: 20px;
            float: left;
            width: 65px;
            height: 180px;
            img {
                margin: 3px;
            }
        }
        .b-product-info {
            float: left;
            margin: 45px 0 0 45px;
            width: 415px;
            .b-product-price {
                float: left;
                font-size: 20px;
                width: 200px;
                .b-product-price-info {
                    font-size: 10px;
                    margin-top: 5px;
                }
            }
            .b-product-cart {
                float: right;
                width: 160px;
            }
        }

    }
}

#b-tabs-bottom {
    width: 100%;
    height: 250px;
    a {
        width: 242px;
    }
}

.tab-bar {
    height: 35px;
    li {
        float: left;
        margin-right: 5px;
        a {
            display: block;
            background-color: #D4D4D4;
            text-decoration: none;
            height: 22px;
            text-align: center;
            padding-top: 8px;
            border: 1px #000 solid;
        }
        a.active {
            border-bottom: none;
            background-color: #EAEAEA;
        }
    }
}

div.tab { 
    padding: 20px;
    .carousel {
        li {
            text-align: center;
        }
    }
}

#b-store-content {
    h1.title {
        margin: 30px;
        text-align: center;
        font-size: 20px;
    }
    .b-products-top-nav {
        margin-top: 28px;
        font-size: 11px;
        overflow: hidden;
        .b-products-top-nav-info {
            float: left;
            padding: 3px;
        }
        .b-products-top-nav-options {
            float: right;
            .text {
                float: left;
                padding: 3px;
            }
            #slider{
                width: 100px;
            }

            .b-slider {
                float: left;
                margin-left: 10px;
            }
        }
    }
}