extends store/layout
{% load thumbnail %}
{% load sekizai_tags %}

block append header
    script(type="text/javascript", src="{{ STATIC_URL }}lib/kendo/kendo.core.min.js")
    script(type="text/javascript", src="{{ STATIC_URL }}lib/kendo/kendo.web.min.js")
    link(rel="stylesheet", href="{{ STATIC_URL }}lib/kendo/kendo.common.min.css")
    link(rel="stylesheet", href="{{ STATIC_URL }}lib/kendo/kendo.uniform.min.css")
    link(rel="stylesheet", href="{{ MEDIA_URL }}css/store/category.css")
    {% addtoblock "jQuery" %}
    :text
        $("#slider").kendoSlider({
            min: 12, 
            max: 36, 
            smallStep: 12, 
            largeStep: 12, 
            showButtons: false 
        });
    {% endaddtoblock %}


block breadcrumb
    for p_cat in category.parents
        |  >>
        a(href="{{ p_cat.get_absolute_url }}") {{ p_cat.name }}
    |  >> {{ category.name }}


block store-block
    div#b-products-top-nav
        div.b-products-top-nav-info
            Всего 76 товаров
        div.b-products-top-nav-options
            div.text
                Позиций на странице 

            div.b-slider
                input#slider(value="12")
    div(style="clear:both;")

    div#b-products-list
        for product in category.products.all
            a.acessory(href="{{ product.get_absolute_url }}")
                div.image
                    {% thumbnail product.main_image.image "100x100" as im %}
                    img(src="{{ im.url }}", width="100", height="100")
                    {% empty %}
                    img(src="{{MEDIA_URL}}images/categoryimage-picture-default.jpg", width="100", height="100")
                    {% endthumbnail %}
                div.info
                    div.title {{ product.name }}
                    div.desc {{ product.short_description }}
                    div.price {{ product.price }} руб.
            {% cycle '' '' '' '<div style="clear:both;">' %}

        

    div(style="clear:both;")
    div#b-products-padding
        a(href="#") В начало
        |  | 
        a(href="#") Назад
        |  |
        a(href="#") 1
        |  |
        a(href="#") 2
        |  | ... |
        a(href="#") 6
        |  |
        a(href="#") 7
        |  |
        a(href="#") Вперед
        |  |
        a(href="#") В конец