extends store/layout
{% load thumbnail %}

block append header
    link(rel="stylesheet", href="{{ MEDIA_URL }}css/store/category.css")

block breadcrumb
    for p_cat in category.parents
        |  >>
        a(href="{{ p_cat.get_absolute_url }}") {{ p_cat.name }}
    |  >> {{ category.name }}
    

block store-block
    div.b-category-description
        {{ category.description|safe }}
    div(style="clear:both;")
    div.b-category-children-list
        for subcat in category.children_active
            a.b-subcategory(href="{{ subcat.get_absolute_url }}")
                div.title
                    {{ subcat.name }}
                div.image
                    {% thumbnail subcat.main_image.image "80x80" as im %}
                    img(src="{{ im.url }}", width="80", height="80")
                    {% endthumbnail %}