extends store/layout
{% load thumbnail %}
{% load sekizai_tags %}
{% load humanize %}


block append header
    script(type="text/javascript", src="{{ STATIC_URL }}lib/jquery.jcarousel.min.js")
    link(type="text/css", rel="stylesheet", href="{{ STATIC_URL }}lib/tango/skin.css")
    link(rel="stylesheet", href="{{ MEDIA_URL }}css/store/product.css")
    
    {% addtoblock "jQuery" %}
    :text
        $(".bar-item").click(function(){ 
            $(this).parent().siblings().each(function(){
                $(this).children().removeClass("active");
            });
            $(this).addClass("active");
            var tabClass = $(this).attr("href");
            $(this).parents(".tab-bar").nextAll().hide();
            $(this).parents(".tab-bar").nextAll(tabClass).show();
            return false;
        });

        $(".carousel").each(function(){
            $(this).jcarousel({ vertical: false, visible: 4, scroll: 2 });
        });

        $(".tab").hide();
        $(".tab1").show();

        $("#button-add-to-cart").click(function(){
            var count = $("#cart-counter").data("count");
            var value = parseInt($("#product-value").val()) + count;
            if(value > 0) {
                $("#cart-counter").text("(" + value + ")");
            } else {
                $("#cart-counter").text("");
            }
            $("#cart-counter").data("count", value);

            $("#b-cart-message").fadeIn();
            setTimeout(function() {
                $("#b-cart-message").fadeOut();
            }, 2000);

            return false;
        });

    {% endaddtoblock %}


block breadcrumb
    for p_cat in category.parents
        |  >>
        a(href="{{ p_cat.get_absolute_url }}") {{ p_cat.name }}
    |  >> 
    a(href="{{ category.get_absolute_url }}") {{ category.name }}
    |  >> {{ product.name }}


block store-block
    h1.title {{ product.name }}

    div#b-tabs-top
        ul.tab-bar
            li 
                a.bar-item.active(href=".tab1") Основное
            li 
                a.bar-item(href=".tab2") Характеристики
            li 
                a.bar-item(href=".tab3") Документация
            li 
                a.bar-item(href=".tab4") База знаний

        div.tab.tab1(style="display: block;")
            div.b-main-image 
                {% thumbnail product.main_image.image "100x100" as im %}
                img(src="{{ im.url }}", width="100", height="100")
                {% empty %}
                img(src="{{MEDIA_URL}}images/categoryimage-picture-default.jpg", width="100", height="100")
                {% endthumbnail %}
                if product.is_sale
                    img(src="{{ STATIC_URL }}images/sale.jpg", width="100", style="position:absolute; top:80px; left:60px")
            div.b-images
                for image in product.images.all|slice:"1:"
                    {% thumbnail image.image "50x50" as im %}
                    img(src="{{ im.url }}", width="50", height="50")
                    {% empty %}
                    img(src="{{MEDIA_URL}}images/categoryimage-picture-default.jpg", width="50", height="50")
                    {% endthumbnail %}
                    br
            div.b-product-info
                div.b-product-price
                    if product.is_sale
                        span(style="text-decoration: line-through;") Цена: {{ product.price|intcomma }} руб.
                    else
                        Цена: {{ product.price|intcomma }} руб.
                    div.b-product-price-info
                        * Цена на 29.10.2012г.
                div.b-product-cart
                    Количество
                    input#product-value(type="text", value="1", style="width:30px; text-align:right; margin-left:45px")
                    br
                    input#button-add-to-cart(type="submit", value="Добавить", style="width:160px; text-align:center; margin-top:10px")

            if product.is_sale
                div(style="color: red; font-size:20px; margin-left:20px;float:left;margin-left: 42px;margin-top: 15px;")
                    Новая цена: 20 208 руб.


        div.tab.tab2
            table
                for attribute in product.attributes.all
                    tr
                        td(style="width:250px") {{ attribute.attribute.description }}
                        td {{ attribute.value }}
        div.tab.tab3 
            ul(style="list-style: disc outside none; margin-left:20px;")
                li 
                    a(href="") TE120 Quick start
                li 
                    a(href="") Hardware datasheet
                li 
                    a(href="") TE120 User Manual
                li 
                    a(href="") Quick Start
        div.tab.tab4
            ul(style="list-style: disc outside none; margin-left:20px;")
                li
                    a(href="") Решения -> Подключение Asterisk к потоку E1 (how-to)
                li
                    a(href="") Блог -> Обновление ревизии платы TE121B
                li
                    a(href="") Словарь терминов и понятий -> Протокол ISDN PRI и E1
                li
                    a(href="") Вопросы и Ответы -> Список вопросов по плате
   
    div#b-tabs-bottom
        ul.tab-bar
            li 
                a.bar-item.active(href=".tab1") Дополнения
            li 
                a.bar-item(href=".tab2") Модификации
            li 
                a.bar-item(href=".tab3") Аналоговые товары

        div.tab.tab1
            ul.carousel.jcarousel-skin-tango
                li
                    p(style="margin-bottom: 5px") 
                        a(href="#") VPMADT032
                    p(style="margin-bottom: 5px") Модуль эхоподавления
                    img(src="{{ STATIC_URL }}images/f5fad134e729fd4a3940c3b3c25204da.jpg")
                li
                    p(style="margin-bottom: 5px") 
                        a(href="#") VPMADT032
                    p(style="margin-bottom: 5px") Модуль эхоподавления
                    img(src="{{ STATIC_URL }}images/f5fad134e729fd4a3940c3b3c25204da.jpg")
                li
                    p(style="margin-bottom: 5px") 
                        a(href="#") VPMADT032
                    p(style="margin-bottom: 5px") Модуль эхоподавления
                    img(src="{{ STATIC_URL }}images/f5fad134e729fd4a3940c3b3c25204da.jpg")
                li
                    p(style="margin-bottom: 5px") 
                        a(href="#") VPMADT032
                    p(style="margin-bottom: 5px") Модуль эхоподавления
                    img(src="{{ STATIC_URL }}images/f5fad134e729fd4a3940c3b3c25204da.jpg")
                li
                    p(style="margin-bottom: 5px") 
                        a(href="#") VPMADT032
                    p(style="margin-bottom: 5px") Модуль эхоподавления
                    img(src="{{ STATIC_URL }}images/f5fad134e729fd4a3940c3b3c25204da.jpg")
                li
                    p(style="margin-bottom: 5px") 
                        a(href="#") VPMADT032
                    p(style="margin-bottom: 5px") Модуль эхоподавления
                    img(src="{{ STATIC_URL }}images/f5fad134e729fd4a3940c3b3c25204da.jpg")
        div.tab.tab2
            ul.carousel.jcarousel-skin-tango
                li
                    p(style="margin-bottom: 5px") 
                        a(href="#") VPMADT032
                    p(style="margin-bottom: 5px") Модуль эхоподавления
                    img(src="{{ STATIC_URL }}images/f5fad134e729fd4a3940c3b3c25204da.jpg")
                li
                    p(style="margin-bottom: 5px") 
                        a(href="#") VPMADT032
                    p(style="margin-bottom: 5px") Модуль эхоподавления
                    img(src="{{ STATIC_URL }}images/f5fad134e729fd4a3940c3b3c25204da.jpg")
        div.tab.tab3
            ul.carousel.jcarousel-skin-tango
                li
                    p(style="margin-bottom: 5px") 
                        a(href="#") VPMADT032
                    p(style="margin-bottom: 5px") Модуль эхоподавления
                    img(src="{{ STATIC_URL }}images/f5fad134e729fd4a3940c3b3c25204da.jpg")
                li
                    p(style="margin-bottom: 5px") 
                        a(href="#") VPMADT032
                    p(style="margin-bottom: 5px") Модуль эхоподавления
                    img(src="{{ STATIC_URL }}images/f5fad134e729fd4a3940c3b3c25204da.jpg")
                li
                    p(style="margin-bottom: 5px") 
                        a(href="#") VPMADT032
                    p(style="margin-bottom: 5px") Модуль эхоподавления
                    img(src="{{ STATIC_URL }}images/f5fad134e729fd4a3940c3b3c25204da.jpg")
