/* line 17, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../../../scss/sass/common.scss */
body {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #3b3737;
}

/* line 18, ../../../scss/sass/common.scss */
.wrapper-base {
  width: 980px;
  margin-left: 25px;
}

/* line 23, ../../../scss/sass/common.scss */
a {
  color: #3b3737;
  text-decoration: underline;
}
/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: black;
}

/* line 28, ../../../scss/sass/common.scss */
ul.b-nav-container {
  list-style: none;
}
/* line 30, ../../../scss/sass/common.scss */
ul.b-nav-container li {
  float: left;
}
/* line 32, ../../../scss/sass/common.scss */
ul.b-nav-container li .active-item {
  font-weight: bold;
}

/* line 38, ../../../scss/sass/common.scss */
h1, h2, h3, h4, strong {
  font-weight: bold;
}

/* line 42, ../../../scss/sass/common.scss */
h4 {
  font-size: 12px;
}

/* line 46, ../../../scss/sass/common.scss */
#b-cart-message {
  background-color: #fff;
  position: absolute;
  padding: 10px;
  border: 1px solid #c2c2c2;
  left: 60px;
  top: -10px;
  width: 200px;
  text-align: left;
  display: none;
}

/* line 1, ../../../scss/sass/_header.scss */
#b-header {
  height: 88px;
  padding-top: 10px;
}
/* line 4, ../../../scss/sass/_header.scss */
#b-header #b-header-sitelogo {
  float: left;
  width: 240px;
}
/* line 8, ../../../scss/sass/_header.scss */
#b-header #b-nav-header {
  float: right;
  width: 740px;
  text-align: right;
}
/* line 12, ../../../scss/sass/_header.scss */
#b-header #b-nav-header #b-header-nav-top {
  padding-top: 5px;
  height: 20px;
}
/* line 16, ../../../scss/sass/_header.scss */
#b-header #b-nav-header #b-header-nav-top ul.b-nav-container li {
  float: right;
  margin: 0 15px;
}
/* line 19, ../../../scss/sass/_header.scss */
#b-header #b-nav-header #b-header-nav-top ul.b-nav-container li input.search-field {
  margin-top: -5px;
}
/* line 25, ../../../scss/sass/_header.scss */
#b-header #b-nav-header #b-header-nav-bottom {
  margin-top: 30px;
  height: 20px;
  margin-right: 100px;
}
/* line 30, ../../../scss/sass/_header.scss */
#b-header #b-nav-header #b-header-nav-bottom ul.b-nav-container li {
  float: right;
  margin: 0 18px;
}
/* line 33, ../../../scss/sass/_header.scss */
#b-header #b-nav-header #b-header-nav-bottom ul.b-nav-container li a {
  font-size: 14px;
}
/* line 36, ../../../scss/sass/_header.scss */
#b-header #b-nav-header #b-header-nav-bottom ul.b-nav-container li a.active {
  font-weight: bold;
}

/* line 2, ../../../scss/sass/_footer.scss */
#b-footer {
  margin-top: 20px;
  text-align: center;
  font-style: italic;
  font-size: 11px;
}
/* line 7, ../../../scss/sass/_footer.scss */
#b-footer p {
  margin: 15px 0;
}
