/* line 4, ../../../scss/sass/store.scss */
#b-store #b-store-block-left {
  width: 180px;
  float: left;
}
/* line 8, ../../../scss/sass/store.scss */
#b-store #b-nav-equipment {
  font-size: 11px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 14, ../../../scss/sass/store.scss */
#b-store #b-nav-menu ul.b-store-menu {
  border-bottom: 1px solid #5D5D5D;
}
/* line 16, ../../../scss/sass/store.scss */
#b-store #b-nav-menu ul.b-store-menu a.store-menu-item {
  border-color: #5D5D5D;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  display: block;
  height: 12px;
  padding: 10px;
  text-decoration: none;
}
/* line 25, ../../../scss/sass/store.scss */
#b-store #b-nav-menu ul.b-store-menu a.store-menu-item:hover {
  background-color: #EAEAEA;
}
/* line 29, ../../../scss/sass/store.scss */
#b-store #b-nav-menu ul.b-store-menu a.children {
  padding-left: 25px;
}
/* line 34, ../../../scss/sass/store.scss */
#b-store #b-store-block-right {
  width: 755px;
  float: left;
  margin-left: 45px;
  margin-bottom: 10px;
}
/* line 39, ../../../scss/sass/store.scss */
#b-store #b-store-block-right .breadcrumb {
  margin-bottom: 20px;
}
/* line 42, ../../../scss/sass/store.scss */
#b-store #b-store-block-right .line-description {
  font-size: 11px;
}
