extends store/layout

block append header
    link(rel="stylesheet", href="{{ MEDIA_URL }}css/store/index.css")

block store-block
    div#b-mainpage-items 
        a.b-item-main-page(href="#")
            img.image(src="{{ STATIC_URL }}images/b410p.jpg", width=100, height=100)
            div.description
                h4
                    Платы Digium
                Всегда в наличии на скаде вся полная линейка плат Digium на любой случай.

        a.b-item-main-page(href="#")
            img.image(src="{{ STATIC_URL }}images/b410p.jpg", width=100, height=100)
            div.description
                h4
                    Платы Digium
                Всегда в наличии на скаде вся полная линейка плат Digium на любой случай.

        a.b-item-main-page(href="#")
            img.image(src="{{ STATIC_URL }}images/b410p.jpg", width=100, height=100)
            div.description
                h4
                    Платы Digium
                Всегда в наличии на скаде вся полная линейка плат Digium на любой случай.

        a.b-item-main-page(href="#")
            img.image(src="{{ STATIC_URL }}images/b410p.jpg", width=100, height=100)
            div.description
                h4
                    Платы Digium
                Всегда в наличии на скаде вся полная линейка плат Digium на любой случай.

        a.b-item-main-page(href="#")
            img.image(src="{{ STATIC_URL }}images/b410p.jpg", width=100, height=100)
            div.description
                h4
                    Платы Digium
                Всегда в наличии на скаде вся полная линейка плат Digium на любой случай.

        a.b-item-main-page(href="#")
            img.image(src="{{ STATIC_URL }}images/b410p.jpg", width=100, height=100)
            div.description
                h4
                    Платы Digium
                Всегда в наличии на скаде вся полная линейка плат Digium на любой случай.

    div(style="clean:both")
    div.line-description
        strong
            И 
            a(href="#") другое
            |  оборудование для Asterisk в нашем Магазине.