extends base

block header
    script(type="text/javascript", src="{{ STATIC_URL }}lib/nivo.slider/jquery.nivo.slider.pack.js")
    link(rel="stylesheet", href="{{ STATIC_URL }}lib/nivo.slider/nivo-slider.css")
    link(rel="stylesheet", href="{{ STATIC_URL }}lib/nivo.slider/themes/default/default.css")
    script
        $(document).ready(function(){
            $('#slider').nivoSlider({
                pauseTime: 10000,
                pauseOnHover: false, 
            });
        });

block main-content
    div.theme-default
        div#slider.nivoSlider
            img(src="{{ STATIC_URL }}images/Asterisk.png")
            img(src="{{ STATIC_URL }}images/Asterisk1.png")
