extends base
{% load sekizai_tags %}
block header
    script(type="text/javascript", src="{{ STATIC_URL }}lib/jquery.jcarousel.min.js")
    link(rel="stylesheet", href="{{ MEDIA_URL }}/css/store.css")
    link(type="text/css", rel="stylesheet", href="{{ STATIC_URL }}lib/tango/skin.css")
    {% addtoblock "jQuery" %}
    $(".carousel").jcarousel({ vertical: false, visible: 4, scroll: 2 });
    {% endaddtoblock %}


block main-content
    div#b-store
        div#b-store-block-left
            div#b-nav-equipment
                a(href="/") Навигатор по оборудованию
            ul.b-store-menu
                li
                    a.store-menu-item(href="/") Платы Digium
                li
                    a.store-menu-item(href="/") Телефоны
                li
                    a.store-menu-item(href="/") IP ATC
                li
                    a.store-menu-item(href="/") Шлюзы
                li
                    a.store-menu-item(href="/") IVR
            br
            ul.b-store-menu
                li
                    a.store-menu-item.small(href="/") Оплата
                li
                    a.store-menu-item.small(href="/") Доставка
                li
                    a.store-menu-item.small(href="/") Контакты
                li
                    a.store-menu-item.small(href="/") О Магазине
        div#b-store-block-right
            div.breadcrumb.line-description
                Магазин оборудования для Asterisk

            table#b-store-main-page
                tr
                    td
                        a.item(href="#")
                            img.image(src="{{ STATIC_URL }}images/b410p.jpg", width=100, height=100)
                            div.description
                                h4
                                    Платы Digium
                                Всегда в наличии на скаде вся полная линейка плат Digium на любой случай.
                    td
                        a.item(href="#")
                            img.image(src="{{ STATIC_URL }}images/b410p.jpg", width=100, height=100)
                            div.description
                                h4
                                    Платы Digium
                                Всегда в наличии на скаде вся полная линейка плат Digium на любой случай.
                tr
                    td
                        a.item(href="#")
                            img.image(src="{{ STATIC_URL }}images/b410p.jpg", width=100, height=100)
                            div.description
                                h4
                                    Платы Digium
                                Всегда в наличии на скаде вся полная линейка плат Digium на любой случай.
                    td
                        a.item(href="#")
                            img.image(src="{{ STATIC_URL }}images/b410p.jpg", width=100, height=100)
                            div.description
                                h4
                                    Платы Digium
                                Всегда в наличии на скаде вся полная линейка плат Digium на любой случай.
                tr
                    td
                        a.item(href="#")
                            img.image(src="{{ STATIC_URL }}images/b410p.jpg", width=100, height=100)
                            div.description
                                h4
                                    Платы Digium
                                Всегда в наличии на скаде вся полная линейка плат Digium на любой случай.
                    td
                        a.item(href="#")
                            img.image(src="{{ STATIC_URL }}images/b410p.jpg", width=100, height=100)
                            div.description
                                h4
                                    Платы Digium
                                Всегда в наличии на скаде вся полная линейка плат Digium на любой случай.
            div.line-description
                strong
                    И 
                    a(href="#") другое
                    |  оборудование для Asterisk в нашем Магазине.

        div(style="clear: both;")
        div
            table#b-store-sales
                tr
                    td.title
                        Распродажа
                    td.links
                        a(href="#") Показать все
                        br
                        br
                        a(href="#") Почему мы распродаем оборудование?
                    td.goods
                        ul.carousel.jcarousel-skin-tango
                            li
                                img(src="{{ STATIC_URL }}images/f5fad134e729fd4a3940c3b3c25204da.jpg")
                                br
                                | VoIP Bridge VP4
                                br
                                | 15%
                            li
                                img(src="{{ STATIC_URL }}images/f5fad134e729fd4a3940c3b3c25204da.jpg")
                                br
                                | VoIP Bridge VP4
                                br
                                | 15%
                            li
                                img(src="{{ STATIC_URL }}images/f5fad134e729fd4a3940c3b3c25204da.jpg")
                                br
                                | VoIP Bridge VP4
                                br
                                | 15%
                            li
                                img(src="{{ STATIC_URL }}images/f5fad134e729fd4a3940c3b3c25204da.jpg")
                                br
                                | VoIP Bridge VP4
                                br
                                | 15%
                            li
                                img(src="{{ STATIC_URL }}images/f5fad134e729fd4a3940c3b3c25204da.jpg")
                                br
                                | VoIP Bridge VP4
                                br
                                | 15%
                            li
                                img(src="{{ STATIC_URL }}images/f5fad134e729fd4a3940c3b3c25204da.jpg")
                                br
                                | VoIP Bridge VP4
                                br
                                | 15%