@import "functions";

#b-store {
    overflow: hidden;
    #b-nav-equipment {
        font-size: 11px;
        text-align: center;
        margin-bottom: 10px;
    }
    #b-store-block-left {
        width: 180px;
        float: left;
        ul.b-store-menu{
            border-bottom: 1px solid #5D5D5D;
            a.store-menu-item {
                border-color: #5D5D5D;
                border-style: solid;
                border-width: 1px 1px 0 1px;
                display: block;
                height: 36px;
                padding: 10px;
                text-decoration: none;
            }
            a.small {
                height: 12px;
            }
            a.store-menu-item:hover {
                background-color: #EAEAEA;
            };
        }
    }
    #b-store-block-right {
        width: 755px;
        float: left;
        margin-left: 45px;
        margin-bottom: 10px;
        .breadcrumb {
            margin-bottom: 20px;
        }
        .line-description {
            font-size: 11px;
        }
    }
    #b-store-main-page {
        width: 100%;
        td {
            width: 50%;
            padding: 10px 10px 25px;
        }
        .item {
            display: block;
            .image {
                float: left;
                margin-right: 15px;
            }
            .description {
                font-size: 11px;
                float: left;
                width: 240px;
                line-height: 16px;
            }
        }
    }
    #b-store-sales {
        width: 100%;
        margin: 25px 0;
        td {
            vertical-align: middle;
            padding: 5px;
        }
        td.title {
            text-align: right;
            font-weight: bold;
            width: 170px;
        }
        td.links {
            padding-left: 50px;
            width: 100px;
            font-size: 11px;
        }
        td.goods {
            padding-left: 20px;
        }
        .carousel {
            li {
                text-align: center;
                width: 200px;
                height: 100px;
            }
        }
    }
}

@import "store/category";